/* Reset CSS = Representa todas as marcações da página */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 120px;
    height: 120px;
}

.container01 {
    background-color: #DDE0E1;
    width: 90%;
    height: 360px;
    margin: 45px auto;
    /* text-align: center;
    align-content: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.container02 {
    background-color: #DDE0E1;
    width: 90%;
    height: 160px;
    margin: 45px auto;
    /* text-align: center;
    align-content: center; */
}